/* .App {
  text-align: center;
} */

.movie-list{
  display:flex;
  gap:10px;
  flex-wrap: wrap;
  justify-content: space-around;
  }

.movie-container{
  width: 340px;
}

.movie-poster{
  width:340px;
  height:500px;
  object-fit:cover;
}

.movie-specs{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.movierating{
  font-size: 18px;
}

.movie-name{
  font-size: 24px;

}

.movie-summary{
  margin: 0;
}

body{
  margin:20px;
  font-family: "Poppins",sans-serif;
}

.countercontainer{
  display:flex;
  gap:10px;
}

.like,.dislike{
  font-size: 20px;
}

.nav{
  display: flex;
  gap:10px;
}



